@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    color: #444;
}
@page {
    size: A3;
    margin: 1cm;
}

#payslip {
    background: #fff;
    padding: 60px 40px 0 40px;
}

#title {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
}

#scope {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 7px 0 4px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#scope > .scope-entry {
    text-align: center;
    width: 33%;
}

#scope > .scope-entry > .title {
    font-size: 16px;
    font-weight: 700;
}

#scope > .scope-entry > .value {
    font-size: 18px;
    font-weight: 700;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 100%;
}

.content .left-panel {
    border-right: 1px solid #ccc;
    width: 300px;
    padding: 20px 16px 0 0;
}

.content .right-panel {
    padding: 10px 0  0 16px;
    width: 100%;
}

#employee {
    text-align: center;
    margin-bottom: 20px;
    padding-right: 2px;
}
#employee #name {
    font-size: 20px;
    font-weight: 700;
}

#employee #email {
    font-size: 14px;
    font-weight: 300;
}

.details, .contributions, .ytd, .basic-pay {
    margin-bottom: 20px;
}

.details .entry, .contributions .entry, .basic-pay .entry, .ytd .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 6px;
}

.details .entry .value, .contributions .entry .value, .basic-pay .value, .ytd .entry .value {
    font-weight: 700;
    max-width: 190px;
    text-align: right;
}

.basic-pay .entry .value {
    font-weight: 700;
    text-align: right;
    font-size: 16px;
}

.contributions .title, .ytd .title, .basic-pay .title {
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 6px;
}

.content .right-panel .details {
    width: 100%;
}

.content .right-panel .details .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
    margin: 6px 0;
}

.content .right-panel .details .label {
    font-weight: 700;
    letter-spacing: 1px;
    width: 150px;
}

.content .right-panel .details .nti .label {
    width: 330px;
}

.content .right-panel .details .detail {
    font-weight: 500;
    width: 180px;
}

.content .right-panel .details .rate {
    font-weight: 300;
    width: 120px;
    font-style: italic;
    letter-spacing: 1px;
}

.content .right-panel .details .amount {
    text-align: right;
    font-weight: 700;
    width: 130px;
}

.content .right-panel .details .net_pay div,
.content .right-panel .details .gross_income div,
.content .right-panel .details .nti div {
    font-weight: 700;
    font-size: 16px;
}

.content .right-panel .details .net_pay,
.content .right-panel .details .gross_income,
.content .right-panel .details .nti {
    padding: 3px 0 2px 0;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.04);
}
